<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>653711544561-nrffodbim2rtia52dun79j5cmn53gt9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.653711544561-nrffodbim2rtia52dun79j5cmn53gt9b</string>
	<key>API_KEY</key>
	<string>AIzaSyA2b66JV6eLiAC7EN098YCh1HeEjoJXLv0</string>
	<key>GCM_SENDER_ID</key>
	<string>653711544561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coolApp</string>
	<key>PROJECT_ID</key>
	<string>coolapp-14330</string>
	<key>STORAGE_BUCKET</key>
	<string>coolapp-14330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:653711544561:ios:1483bd2234bf57b265d950</string>
</dict>
</plist>